/* Global Styles */
:root {
    --dark-color: #242a38;
    --main-color: #3953A4;
    --soft-color: #6F9CD3;
    --softy-color: #88a9d1;
    --hard-orange-color: #EAAB66;
    --gray-color: #E0E2E1;
  }